*.pyc #忽略掉python的系统文件
*.pth #忽略掉python的权重文件
*.log #忽略掉日志文件
__pycache__/ #忽略掉python的缓存文件夹
.env #忽略掉环境变量文件
venv/ #忽略掉虚拟环境文件夹
.idea/ #忽略掉IDEA的配置文件夹
.vscode/ #忽略掉VSCode的配置文件夹
data/VOC2012/ #忽略掉VOC2012数据集
.zip #忽略掉所有zip压缩包
.tar.gz #忽略掉所有tar.gz压缩包
.checkpoints/ #忽略掉训练检查点文件夹

